/* body {
    background-color: rgb(166, 134, 134);
} */

#goods {
  margin: 20px 80px;
  /* background-color: rgb(166, 134, 134); */
}

.card {
  /* border: 2px solid #000000; */
  border-radius: 0.75rem;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  /* background-color: aqua; */
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.card img {
  align-self: center;
  width: 150px;
}

.card h3 {
  font-size: 17px;
  color: rgb(108, 93, 146);
}

.reviews {
  margin-top: 15px;
  display: flex;
  font-size: 14px;
}
.stars {
  color: rgb(102, 4, 214);
}

.reviews span {
  padding-left: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 20px;
}

.prices {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-content: center;
  align-items: center;
}

.price {
  grid-column: span 2 / span 2;
}

.price h3,
h4 {
  margin: 0;
  padding-top: 10px;
}

.price h3 {
  font-size: 25px;
  color: black;
  padding-top: 2px;
}

.price h4 {
  font-size: 18px;
  text-decoration: line-through;
  color: rgb(108, 93, 146);
}

.prices i {
  font-size: 35px;
  place-self: center;
  color: rgb(102, 4, 214);
}

@media screen and (max-width: 1280px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 20px;
  }

  .reviews {
    font-size: 13px;
  }
  .card h3 {
    margin-top: 5px;
  }
  .card img {
    align-self: center;
    width: 120px;
  }
  #goods {
    margin: 20px 20px;
  }

  .price h3 {
    font-size: 25px;
  }

  .price h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 920px) {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 680px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 20px;
  }
  #goods h2 {
    font-size: 22px;
    text-align: center;  }
}
